<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
			<div class="container">
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="active"><a th:href="@{/view/home}">Home</a></li>
					</ul>
				</div>
				<div>
					<form th:action="@{/logout}" class="form-inline " method="POST">
						<input type="submit" class="btn btn-outline-primary my-2 my-sm-0"
							value="Logout" />
					</form>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
