<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Employees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
			<a href="/view/home">
				<h3>Admin Page</h3>
			</a>
				<div th:switch="${employees}" class="container my-5">
					<p class="my-5">
						<a href="/view/createForm" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Add Employee </i></a>
					</p>
					<div class="col-md-10">
						<form th:object="${employees}" th:action="@{/view/employee}"
							method="get">
							<input name="query" id="query" th:object="${query}"
								class="form-control mr-sm-2" type="number"
								placeholder="Query By ID" required="required" />
							<button class="btn btn-outline-success my-2 my-sm-0"
								type="submit">Search</button>
							<div th:if="${not #lists.isEmpty(query)}">
								<h2>Employee found</h2>
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>ID</th>
											<th>Height</th>
											<th>Weight</th>
											<th>English Name</th>
											<th>Chinese Name</th>
											<th>Phone</th>
											<th>Email</th>
											<th>Bmi</th>
											<th>Update</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="emp : ${query}">
											<td th:text="${emp.getId()}"></td>
											<td th:text="${emp.getWeight()}"></td>
											<td th:text="${emp.getHeight()}"></td>
											<td th:text="${emp.getEngName()}"></td>
											<td th:text="${emp.getChiName()}"></td>
											<td th:text="${emp.getPhone()}"></td>
											<td th:text="${emp.getEmail()}"></td>
											<td th:text="${emp.getBmi()}"></td>
											<td><a th:href="@{/view/update/{id}(id=${emp.getId()})}"
												class="btn btn-primary"> <i
													class="fas fa-user-edit ml-2"></i></a></td>
											<td><a th:href="@{/view/delete/{id}(id=${emp.getId()})}"
												onclick="return confirm('Are you sure you want to delete this employee?');"
												class="btn btn-primary"> <i
													class="fas fa-user-times ml-2"></i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
